<h3 class="page_header">Sign In</h3>
<br><br><br><br>
<%= form_tag sessions_path do %>
<div class="new">
  <div class="entry_form">
    <div>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <br>
  <%= submit_tag "Sign in!" %>
  <% end %>
  </div>
</div>
<%# link_to 'Forgot Password?', new_recovery_path %>
