<h3 class="page_header">EDIT<span class="green">&nbsp;//&nbsp;</span>PROFILE</h3>
<br><br><br><br>
<div class="new entry_form">
 <%= form_for current_user do |f| %>
<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>
<br>
 <%= f.submit %>
<% end %>
</div>
